.wrapper {
  max-width: 794px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.wrapper h2 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.wrapper + button {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrapper {
    margin-bottom: auto;
  }

  .wrapper h2 {
    font-size: 16px;
  }

  .wrapper + button {
    margin-top: 30px;
  }
}
