.container {
  position: fixed;
  inset: 0;
  z-index: 1;
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  z-index: 2;
}

.content {
  top: 0;
  left: calc(100vw - 286px);
  right: 0;
  position: absolute;
  background-color: transparent;
  z-index: 3;
}

.overlay-enter {
  opacity: 0;
}

.overlay-enter-active {
  transition: opacity 0.3s;
  opacity: 1;
}

.overlay-exit {
  opacity: 1;
}

.overlay-exit-active {
  opacity: 0;
  transition: opacity 0.3s;
}

.content-enter {
  transform: translateX(286px);
  opacity: 0.5;
}

.content-enter-active {
  transition: opacity 0.3s, transform 0.3s;
  transform: translateX(0);
  opacity: 1;
}

.content-exit {
  opacity: 1;
  transform: translateX(0);
}

.content-exit-active {
  transform: translateX(286px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}
