.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 30px 20px;
  }
}
