.form {
  padding: 30px 50px;
  background-color: #f2f2f2;
  border-radius: 24px;
}

.form > button {
  margin: 0 auto;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.list {
  margin-bottom: 30px;
}

.list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 100px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}

.list-item:not(:last-child) {
  margin-bottom: 30px;
}

.delete-button {
  width: 100%;
  max-width: 200px;
  height: 47px;
  margin-top: auto;
  margin-left: auto;
  font-size: 12px;
  color: var(--white);
  background-color: var(--red);
  border-radius: 8px;
}

.email-wrapper {
  margin-top: 50px;
  margin-bottom: 30px;
}

.email-input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 100px;
}

@media (max-width: 768px) {
  .form {
    padding: 30px 20px;
  }

  .list-item {
    grid-template-columns: 1fr;
  }

  .email-input-wrapper {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 16px;
  }
}
