.wrapper {
  max-width: 794px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 30px 50px;
  background-color: #f2f2f2;
  border-radius: 24px;
}

.wrapper + button {
  margin: 0 auto;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.5;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-wrapper {
  margin-block: 10px;
}

.radio-wrapper > p {
  margin-bottom: 5px;
  font-size: 12px;
  color: #979797;
}

.radio-wrapper > label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-right: 15px;
  font-size: 14px;
}

.radio-wrapper input {
  margin: 0;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-bottom: 30px;
    padding: 30px 20px;
  }

  .title {
    margin-bottom: 10px;
  }

  .text {
    margin-bottom: 20px;
  }
}
