.btn {
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--brand-secondary);
  text-align: center;
}

.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.btn br {
  display: none;
}

@media (max-width: 768px) {
  .btn br {
    display: unset;
  }
}
