.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.label {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 12px;
  color: #979797;
}

.input {
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  border: none;
  outline: none;
}

.input::placeholder {
  color: #979797;
}

.error-message {
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  line-height: 1.2;
  color: var(--red);
}

.note {
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  line-height: 1.2;
  color: #828282;
}
