.wrapper {
  max-width: 794px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.wrapper ~ button {
  margin: 0 auto;
}

.wrapper h2 {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 700;
  color: #009320;
  text-align: center;
}

.wrapper h2::after {
  content: "✅";
  margin-left: 10px;
}

.wrapper img {
  display: block;
  margin: 0 auto;
  border-radius: 32px;
}

@media (max-width: 768px) {
  .wrapper {
    margin-bottom: auto;
  }

  .wrapper h2 {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .wrapper + button {
    margin-top: 30px;
  }
}
