.wrapper {
  width: 205px;
}

.list {
  padding: 5px 0;
}

.list-item:not(:last-child) {
  border-bottom: 1px solid #f2f2f2;
}

.list-item a,
.list-item button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  font-size: 14px;
  color: var(--black);
  text-align: left;
}

.list-item a:hover,
.list-item button:hover {
  background-color: rgba(61, 212, 195, 0.1);
}

.icon-wrapper {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--brand-secondary);
  border-radius: 50%;
}

.icon-wrapper svg {
  width: 16px;
  height: 16px;
  color: var(--brand-secondary);
}
