.btn {
  width: 100%;
  flex-shrink: 0;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  color: var(--black);
  border-radius: 16px;
  transition: transform 0.1s, opacity 0.1s;
}

.btn:not(:disabled):active {
  transform: scale(0.99);
}

.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.xs {
  max-width: 183px;
  width: 100%;
  min-height: 50px;
  height: 50px;
  font-weight: 700;
  border-radius: 8px;
}

.sm {
  max-width: 252px;
  min-height: 50px;
  height: 50px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
}

.md {
  max-width: 365px;
  height: 60px;
}

.lg {
  max-width: 428px;
  height: 60px;
}

.xl {
  height: 69px;
}

.primary {
  background-color: var(--brand-secondary);
  color: var(--white);
}

.secondary {
}

.outline {
  background-color: var(--white);
  border: 1px solid var(--brand-secondary);
  color: var(--brand-secondary);
}

.gradient-primary {
  background: linear-gradient(96.83deg, #d6ff13 0%, #3dd4c3 101%);
}

.gradient-secondary {
  background: linear-gradient(
    95.4deg,
    #d6ff13 0%,
    #b2d703 86.88%,
    #add100 100%
  );
}

.gradient-tertiary {
  color: var(--white);
  background: linear-gradient(96.83deg, #313172 0%, #3e3eff 101%);
}

.danger {
  color: var(--white);
  background-color: var(--red);
}

.loader {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation-name: loader-primary;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.gradient-primary .loader {
  animation-name: loader-secondary;
}

@keyframes loader-primary {
  0% {
    background-color: var(--whiteAlpha350);
    box-shadow: 16px 0 var(--whiteAlpha350), -16px 0 var(--white);
  }
  50% {
    background-color: var(--white);
    box-shadow: 16px 0 var(--whiteAlpha350), -16px 0 var(--whiteAlpha350);
  }
  100% {
    background-color: var(--whiteAlpha350);
    box-shadow: 16px 0 var(--white), -16px 0 var(--whiteAlpha350);
  }
}

@keyframes loader-secondary {
  0% {
    background-color: var(--blackAlpha350);
    box-shadow: 16px 0 var(--blackAlpha350), -16px 0 var(--black);
  }
  50% {
    background-color: var(--black);
    box-shadow: 16px 0 var(--blackAlpha350), -16px 0 var(--blackAlpha350);
  }
  100% {
    background-color: var(--blackAlpha350);
    box-shadow: 16px 0 var(--black), -16px 0 var(--blackAlpha350);
  }
}
