.section {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}

.wrapper {
  max-width: 794px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .section {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 30px 20px;
  }
}
