.wrapper {
  width: 100%;
}

.input-wrapper {
  position: relative;
}

.label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 12px;
  color: #979797;
}

.input {
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  padding-right: 55px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
  outline: none;
}

.input::placeholder {
  color: #979797;
}

.icon-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
}

.error-message {
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  line-height: 1.2;
  color: var(--red);
}
