.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 60px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dcdcdc;
}

.list + button {
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
  line-height: 1.5;
  color: #828282;
}

.label span {
  font-size: 10px;
  color: #d42c2c;
}

.label input[type="text"],
.label input[type="email"],
.label input[type="number"],
.label input[type="phone"],
.label input[type="date"] {
  height: 44px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 12px 10px;
  border: none;
  font-size: 14px;
}

.date-input-wrapper {
  background-color: #f6f6f6;
  border-radius: 5px;
}

.radio-input-wrapper p {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.5;
  color: #828282;
}

.radio-input-wrapper > div {
  display: flex;
  gap: 50px;
}

.radio-input-wrapper label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-input-wrapper input:checked + span::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--brand-secondary);
  border-radius: 50%;
}

.radio-input-wrapper span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.radio-input-wrapper > label {
  align-items: flex-start;
  gap: 5px;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .list {
    grid-template-columns: 1fr 1fr;
    gap: 30px 45px;
  }
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 20px;
    text-align: left;
  }

  .list {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
