.form {
  margin-bottom: 30px;
}

.fieldset-wrapper {
  display: flex;
  gap: 30px;
}

.fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.legend {
  font-weight: 700;
}

.label p {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .fieldset-wrapper {
    flex-direction: column;
  }
}
