.container {
  position: fixed;
  z-index: calc(infinity);
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-paddings {
  padding: 20px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.overlay-action-disabled {
  cursor: not-allowed;
}

.content {
  position: relative;
}

.sm-size {
}

.md-size {
  max-width: 425px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
}

.xl-size {
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
}

.close-btn svg {
  width: 25px;
  height: 25px;
}

.overlay-enter {
  opacity: 0;
}

.overlay-enter-active {
  transition: opacity 200ms;
  opacity: 1;
}

.overlay-exit {
  opacity: 1;
}

.overlay-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.content-enter {
  opacity: 0;
  transform: scale(0.8);
}

.content-enter-active {
  transition: opacity 200ms, transform 200ms;
  opacity: 1;
  transform: scale(1);
}

.content-exit {
  opacity: 1;
  transform: scale(1);
}

.content-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 200ms, transform 200ms;
}
