.section {
  min-height: var(--content-height);
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.title {
  margin-bottom: 30px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

@media (max-width: 1200px) {
  .section {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 30px 20px;
  }

  .buttons-wrapper {
    align-items: center;
  }
}
