.wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 500;
}

.link {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: var(--brand-secondary);
  border-bottom: 2px solid var(--brand-secondary);
}

.btn {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
  }

  .btn {
    margin-bottom: 20px;
  }
}
