.title {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}

.wrapper {
  max-width: 590px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 50px;
  border-radius: 32px;
  background-color: #f2f2f2;
}

.wrapper + a,
.wrapper + button {
  margin: 0 auto;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-wrap: nowrap;
}

.list li:not(:last-child) {
  margin-bottom: 24px;
}

.list p {
  font-size: 20px;
  font-weight: 700;
}

.list button {
  display: inline-block;
  font-weight: 500;
  color: var(--brand-secondary);
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
  }

  .wrapper {
    padding: 40px 30px;
  }

  .list li {
    font-size: 14px;
  }

  .list li:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #979797;
  }

  .list p {
    font-size: 16px;
  }
}
