.title {
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 430px) {
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
  }

  .title {
    margin-bottom: 20px;
    font-size: 20px;
    text-wrap: balance;
  }
}
