.wrapper {
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.list {
}

.list-item {
  padding: 30px 0;
}

.list-item:not(:last-child) {
  border-bottom: 1px solid #979797;
}

.list-item > p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #bdbdbd;
}

.list-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item-wrapper p:first-child {
  font-size: 24px;
  font-weight: 700;
}

.list-item-wrapper p:nth-child(2) {
  font-size: 14px;
}

.list-item-wrapper p:last-child {
  font-size: 20px;
  font-weight: 600;
}

.credit__active {
  color: var(--brand-secondary);
}

.toggle-show-btn {
  align-items: baseline;
  gap: 10px;
  margin: 0 auto;
  font-weight: 700;
}

.toggle-show-btn svg {
  width: 20px;
  height: 10px;
  color: var(--black);
}

.toggle-show-btn__active svg {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .list-item {
    padding: 20px 0;
  }

  .list-item-wrapper p:first-child {
    font-size: 16px;
  }

  .list-item-wrapper p:nth-child(2) {
    font-size: 12px;
  }

  .list-item-wrapper p:last-child {
    font-size: 14px;
  }

  .toggle-show-btn {
    font-size: 14px;
  }
}
