:root {
  --brand-primary: #daf268;
  --brand-secondary: #3dd4c3;
  --black: #000000;
  --white: #ffffff;
  --red: #d20d00;
  --blackAlpha350: rgba(0, 0, 0, 0.2);
  --whiteAlpha350: rgba(255, 255, 255, 0.2);
  --content-width: 1440px;
  /* 80px height of the header */
  --content-height: calc(100svh - 80px);
}

@media (max-width: 1400px) {
  :root {
    --content-width: calc(100vw - 200px);
  }
}

@media (max-width: 1200px) {
  :root {
    --content-width: calc(100vw - 100px);
  }
}

@media (max-width: 768px) {
  :root {
    --content-width: calc(100vw - 40px);
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

main {
  flex: 1 0 auto;
}

main:has(#lead-slider) + footer {
  padding-bottom: calc(var(--promo-slider-height) + 50px);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  text-decoration: none;
}

input,
button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
