.section {
  padding: 60px 100px 120px 100px;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 500;
}

.list > li:not(:last-child) {
  margin-bottom: 30px;
}

.description {
  line-height: 1.8;
}

.description > ul {
  list-style-type: disc;
  list-style-position: inside;
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
}

.table th {
  font-weight: 600;
  background-color: var(--brand-secondary);
}

.table td {
  background-color: var(--brand-primary);
}

.table th,
.table td {
  padding: 10px;
  color: var(--black);
  border: 2px solid var(--white);
}

.table tr td:first-child {
  text-wrap: nowrap;
}

@media (max-width: 1200px) {
  .section {
    padding: 40px 50px 80px 50px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 40px 20px 80px 20px;
  }

  .title {
    margin-bottom: 30px;
    font-size: 24px;
  }

  .list > li:not(:last-child) {
    margin-bottom: 20px;
  }

  .description {
    font-size: 14px;
  }

  .description > h3 {
    font-size: 14px;
  }

  .table th,
  .table td {
    font-size: 14px;
  }
}
