.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 80px 100px;
}

.wrapper {
  flex: 1;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.text {
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 1200px) {
  .section {
    padding: 80px 50px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 30px 20px;
  }

  .text {
    margin-bottom: 20px;
    font-size: 14px;
  }
}
