.slider {
  width: 100%;
  height: 32px;
}

.slider-track {
  top: 8px;
  height: 16px;
  border-radius: 30px;
}

.slider-track-primary {
  background-color: #f2f2f2;
}

.slider-track-secondary {
  background-color: #d9d9d9;
}

.slider-track-tertiary {
  background-color: #7b7be5;
}

.slider-track-primary.slider-track-primary-0 {
  background-color: #3dd4c3;
}

.slider-track-secondary.slider-track-secondary-0 {
  background: linear-gradient(
    95.4deg,
    #d6ff13 0%,
    #b2d703 86.88%,
    #add100 100%
  );
}

.slider-track-tertiary.slider-track-tertiary-0 {
  background-color: #5656ff;
}

.slider-thumb {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  outline: none;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.15));
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-thumb-primary {
  background-color: var(--brand-secondary);
}

.slider-thumb-secondary {
  background-color: var(--brand-secondary);
}

.slider-thumb-tertiary {
  background-color: #5656ff;
}

.slider-thumb::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--white);
}

@media (max-width: 768px) {
  .adaptive-slider {
    height: 22px;
  }

  .adaptive-slider .slider-track {
    top: 6px;
    height: 10px;
  }

  .adaptive-slider .slider-thumb {
    width: 22px;
    height: 22px;
  }

  .adaptive-slider .slider-thumb::after {
    width: 12px;
    height: 12px;
  }
}
