.wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  margin: 0 auto;
}

.input {
  width: 100%;
  height: 80px;
  padding: 0;
  font-size: 32px;
  font-weight: 600;
  color: var(--gray500);
  border-radius: 16px;
  text-align: center;
  background-color: #f2f2f2f2;
  outline: none;
  border: none;
}

.error {
  color: rgb(211, 47, 47);
}
