.footer {
  padding: 80px 100px 50px 100px;
  background-color: var(--black);
}

.footer-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.logo-link {
  margin-bottom: 50px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 80px;
}

.call-center h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
}

.call-center a {
  font-size: 32px;
  font-weight: 700;
  color: var(--brand-secondary);
}

.footer-text {
  color: var(--white);
  font-size: 12px;
  text-align: center;
}

@media (max-width: 1200px) {
  .footer {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 20px;
  }

  .logo-link {
    margin-bottom: 30px;
  }

  .wrapper {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .call-center h3 {
    margin-bottom: 5px;
  }
}
