.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}

@media (max-width: 1200px) {
  .section {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .section {
    min-height: var(--content-height);
    padding: 30px 20px;
  }
}
