.wrapper {
  display: flex;
  gap: 30px;
}

.wrapper input {
  text-align: center;
}

.wrapper input::placeholder {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
  }
}
