.section {
  padding: 100px;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 42px;
}

.title span {
  color: var(--brand-secondary);
}

.list-1 {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid #cccccc;
}

.list-1 li {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
}

.list-1 li:not(:last-child) {
  margin-bottom: 50px;
}

.list-1 img {
  flex-shrink: 0;
}

.warning-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}

.warning-wrapper img {
  flex-shrink: 0;
}

.warning-wrapper p {
  font-style: italic;
}

.list-2 {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid #cccccc;
}

.list-2 > li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.list-2 > li:not(:last-child) {
  margin-bottom: 80px;
}

.list-2 > li:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.list-2 > li:nth-child(even) .number {
  margin-left: auto;
}

.list-2 h2 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
}

.list-2 h2 span {
  color: var(--brand-secondary);
}

.list-2 img {
  flex-shrink: 0;
}

.list-2 p {
  margin-bottom: 30px;
  font-size: 24px;
}

.inner-list-1 {
}

.inner-list-1 li {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.inner-list-1 li:not(:last-child) {
  margin-bottom: 60px;
}

.inner-list-1 img {
  flex-shrink: 0;
}

.inner-list-1 h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.inner-list-2 {
  font-size: 24px;
  list-style-type: decimal;
  list-style-position: inside;
}

.inner-list-2 li:not(:last-child) {
  margin-bottom: 5px;
}

.number {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--brand-secondary);
  border-radius: 50%;
}

.apk-link {
  padding: 17px 40px;
  color: #ffffff;
  background-color: var(--brand-secondary);
  font-size: 18px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  cursor: pointer;
}

.subtitle {
  margin-bottom: 50px;
  text-align: center;
}

.subtitle span {
  color: var(--brand-secondary);
}

.list-3 {
  display: flex;
  gap: 50px;
}

.list-3 li {
  flex: 1;
  text-align: center;
}

.list-3 img {
  margin-bottom: 20px;
}

.list-3 h3 {
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  .section {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 30px 20px;
  }

  .title {
    font-size: 24px;
  }

  .list-1 {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .list-1 li {
    align-items: flex-start;
    gap: 15px;
    font-size: 16px;
  }

  .list-1 li:not(:last-child) {
    margin-bottom: 20px;
  }

  .list-1 img {
    width: 50px;
    height: 50px;
  }

  .warning-wrapper {
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 50px;
  }

  .warning-wrapper img {
    width: 50px;
    height: auto;
  }

  .list-2 > li {
    flex-direction: column !important;
    text-align: left !important;
    gap: 30px;
  }

  .list-2 > li:not(:last-child) {
    margin-bottom: 40px;
  }

  .list-2 > li > img {
    margin: 0 auto;
  }

  .list-2 > li:first-child > img {
    display: none;
  }

  .list-2 h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  .list-2 p {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .subtitle {
    margin-bottom: 30px;
  }

  .list-3 {
    flex-direction: column;
    gap: 30px;
  }

  .list-3 img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
  }

  .list-3 h3 {
    margin-bottom: 0;
    font-size: 16px;
  }

  .inner-list-1 li {
    gap: 15px;
  }

  .inner-list-1 li:not(:last-child) {
    margin-bottom: 10px;
  }

  .inner-list-1 img {
    width: 50px;
    height: auto;
  }

  .inner-list-1 h3 {
    margin-bottom: 0;
    font-size: 16px;
  }

  .inner-list-2 {
    font-size: 16px;
  }

  .number {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .apk-link {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
}
