.section {
  padding: 100px;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 0 auto;
}

.content h3 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

.content p {
  margin-bottom: 10px;
}

.image-wrapper {
  flex-shrink: 0;
}

@media (max-width: 1200px) {
  .section {
    padding: 50px;
  }

  .wrapper {
    gap: 30px;
  }

  .image-wrapper img {
    width: 235px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .section {
    min-height: var(--content-height);
    padding: 30px 20px;
  }

  .wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .image-wrapper img {
    width: 180px;
    height: auto;
  }
}
