.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper.full-size {
  height: var(--content-height);
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #3dd4c3 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #3dd4c3);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-animation 1s infinite linear;
}

@keyframes spinner-animation {
  100% {
    transform: rotate(1turn);
  }
}
