.image-button {
  position: relative;
  max-width: 386px;
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 16px;
  cursor: pointer;
}

.image-button svg {
  position: absolute;
  color: var(--white);
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
}

@media (max-width: 768px) {
  .image-button {
    max-width: 276px;
    height: 276px;
  }

  .image-button img {
    width: 180px;
    height: auto;
  }
}
