.wrapper {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-bottom: 30px;
}

.wrapper > img {
  border-radius: 8px;
}

.lists-wrapper {
  flex: 1;
}

.list-1 {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 30px;
}

.list-1 li {
  flex: 1;
  font-size: 12px;
}

.list-1 p {
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.list-2 {
  display: flex;
  gap: 30px;
  padding: 24px 50px;
  font-size: 20px;
  font-weight: 600;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.list-2 p {
  margin-top: 5px;
  font-weight: 400;
}

.list-2 li:nth-child(2) {
  flex: 1;
  text-align: center;
}

@media (max-width: 1200px) {
  .list-1 {
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
    margin-bottom: 20px;
  }

  .wrapper > img {
    align-self: center;
  }

  .list-1 {
    flex-direction: column;
    gap: 20px;
  }

  .list-2 {
    flex-direction: column;
    padding: 30px;
    font-size: 16px;
  }

  .list-2 li {
    text-align: center;
  }

  .list-2 p {
    font-size: 14px;
  }
}
