.section {
  padding: 100px;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text {
  margin-bottom: 20px;
  line-height: 1.8;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
  border-radius: 24px;
  box-shadow: 4px 4px 6px 0px #00000026;
  background-color: #f8f8f8;
}

.image-wrapper {
  flex-shrink: 0;
}

.sub-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.sub-text {
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--brand-secondary);
}

.sub-description-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sub-description-wrapper span {
  color: var(--brand-secondary);
  font-size: 32px;
  font-weight: 600;
}

.sub-description {
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 1200px) {
  .section {
    padding: 50px;
  }

  .list {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 20px 20px 50px 20px;
  }

  .title {
    font-size: 24px;
  }

  .text {
    font-size: 14px;
  }

  .list-item {
    gap: 10px;
    padding: 20px;
  }

  .sub-title {
    font-size: 16px;
  }

  .sub-text {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .image-wrapper {
  }

  .image-wrapper img {
    width: 71px;
    height: 71px;
  }
}
