.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
  max-width: 794px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 45px;
}

.wrapper + button {
  margin: 0 auto;
}

.wrapper h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.wrapper svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  color: var(--brand-secondary);
}

.wrapper p {
  text-align: center;
  line-height: 24px;
}

@media (max-width: 768px) {
  .wrapper {
    margin-bottom: 30px;
  }

  .wrapper h2 {
    font-size: 16px;
  }

  .wrapper p {
    font-size: 14px;
    line-height: 22px;
  }
}
