.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.wrapper > button {
  margin: 0 auto;
}

.title {
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
}

.title + p {
  margin-bottom: 30px;
  line-height: 22px;
  text-align: center;
}

.warning {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  color: #df3838;
}

.total-sum {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
  }

  .title + p {
    font-size: 14px;
  }

  .warning {
    margin-bottom: 30px;
  }

  .total-sum {
    font-size: 24px;
  }
}
