.wrapper {
  max-width: 794px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.text {
  font-size: 14px;
}

.bar {
  position: relative;
  width: 100%;
  height: 11px;
  margin-bottom: 17px;
  background-color: #eeff9e;
  border-radius: 20px;
}

.progress {
  height: 100%;
  display: block;
  background: linear-gradient(
    95.4deg,
    #d6ff13 0%,
    #b2d703 86.88%,
    #add100 100%
  );
  border-radius: 20px;
}

.points-list {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
}

.point-item {
  position: relative;
  top: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  color: var(--white);
  background-color: var(--brand-secondary);
  border-radius: 50%;
  border: 2px solid var(--white);
}

.dot {
  width: 11px;
  height: 11px;
  display: block;
  background-color: var(--white);
  border-radius: 50%;
}

@media (max-width: 768px) {
  .bar {
    margin-bottom: 15px;
  }

  .text {
    font-size: 12px;
    text-align: center;
  }
}
