.section {
  padding: 100px;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 500;
}

.list-item:not(:last-child) {
  margin-bottom: 20px;
}

.list-item a {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--black);
  text-decoration: underline;
}

.list-item svg {
  width: 32px;
  height: 32px;
  color: var(--brand-secondary);
}

@media (max-width: 1200px) {
  .section {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .section {
    min-height: var(--content-height);
    padding: 30px 20px;
  }

  .title {
    font-size: 24px;
    font-weight: 700;
  }

  .list-item a {
    gap: 10px;
  }
}
