.section {
  display: flex;
  padding: 100px;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin-bottom: 20px;
  text-align: center;
}

.wrapper > img {
  margin-bottom: 15px;
}

.wrapper > p {
  line-height: 1.5;
}

@media (max-width: 1200px) {
  .section {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .section {
    min-height: var(--content-height);
    padding: 30px 20px;
  }

  .wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
