.section {
  min-height: var(--content-height);
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.container {
  flex: 1;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container > button {
  margin: 0 auto;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.title {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.text {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

.radio-wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.label input:checked + .check-mark::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--brand-secondary);
  border-radius: 50%;
}

.check-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

@media (max-width: 1200px) {
  .section {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 30px 20px;
  }

  .title {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .text {
    font-size: 16px;
  }

  .radio-wrapper {
    gap: 50px;
  }

  .label {
    font-size: 18px;
  }
}
