.header {
  padding: 0px 100px;
  background-color: var(--black);
}

.wrapper {
  min-height: 80px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
}

.logo-link {
  flex-shrink: 0;
}

@media (max-width: 1200px) {
  .header {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px;
  }

  .wrapper {
    gap: 15px;
  }
}
