.wrapper {
  max-width: 794px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 50px;
  background-color: #f2f2f2;
  border-radius: 24px;
}

.wrapper > img {
  flex-shrink: 0;
}

.title {
  margin-bottom: 17px;
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form input {
  text-transform: uppercase;
}

.form input::placeholder {
  text-transform: initial;
}

.button {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    padding: 30px;
  }

  .wrapper > img {
    margin: 0 auto;
  }

  .form {
    gap: 25px;
  }
}
