.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 794px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 50px;
  background-color: #f2f2f2;
  border-radius: 24px;
}

.wrapper + a {
  margin: 0 auto;
}

.list-item {
  display: flex;
  gap: 20px;
}

.list-item:not(:last-child) {
  margin-bottom: 30px;
  align-items: center;
}

.title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

.icon-wrapper {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.149);
  border-radius: 16px;
}

.inner-list {
  margin-top: 10px;
  margin-bottom: 30px;
  list-style-type: decimal;
  list-style-position: inside;
}

.inner-list li:not(:last-child) {
  margin-bottom: 10px;
}

.text {
  font-size: 14px;
}

@media (max-width: 768px) {
  .container {
    justify-content: space-between;
  }

  .wrapper {
    padding: 30px 20px;
  }

  .title {
    text-align: center;
    font-size: 16px;
  }

  .list-item {
    font-size: 14px;
  }

  .icon-wrapper {
    width: 60px;
    height: 60px;
  }

  .icon-wrapper img {
    transform: scale(0.7);
  }
}
